---
import ContactForm from '../components/contact/ContactForm.astro';
import ContactInfo from '../components/contact/ContactInfo.astro';
import AboutUsSection from '../components/home/AboutUsSection.astro';
import BenefitsSection from '../components/home/BenefitsSection.astro';
import FeaturedServices from '../components/home/FeaturedServices.astro';
import Hero from '../components/home/Hero.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const pageDescription = "Agencia líder en marketing digital y diseño web. Ofrecemos servicios de SEO, Google Ads, diseño de páginas web y más para potenciar tu negocio.";
---

<Layout 
    title="Agencia de Marketing Digital | We  Are Pixel Pro"
    description={pageDescription}
>
	<Hero />
    <FeaturedServices />
    <AboutUsSection />
    <BenefitsSection />
    <div class="grid md:grid-cols-2 gap-12 container mx-auto mt-14">
        <ContactInfo />
        <ContactForm />
    </div>
    
</Layout>
