---
// src/components/common/HeaderDesktop.astro
---
<header class="bg-white shadow-md py-5 hidden md:block z-50 fixed w-full">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="flex items-center text-2xl font-bold text-blue-700 hover:text-blue-900 transition-colors">
            <img width="150" height="100" src="/assets/img/nuevo-logo-pixel-pro.webp" alt="Logo de Pixel Pro" title="Logo de Pixel Pro">
        </a>
        <nav>
            <ul class="flex items-center space-x-8">
                <li><a href="/" class="text-gray-700 hover:text-blue-700 font-semibold text-lg transition-colors">Inicio</a></li>
                <li><a href="/servicios" class="text-gray-700 hover:text-blue-700 font-semibold text-lg transition-colors">Servicios</a></li>
                <li><a href="/nosotros" class="text-gray-700 hover:text-blue-700 font-semibold text-lg transition-colors">Nosotros</a></li>
                <li><a href="/blog" class="text-gray-700 hover:text-blue-700 font-semibold text-lg transition-colors">Blog</a></li>
                <li><a href="/contacto" class="text-gray-700 hover:text-blue-700 font-semibold text-lg transition-colors">Contacto</a></li>
                <li><a href="/contacto" class="bg-blue-900 text-white py-2.5 px-6 rounded-full hover:bg-blue-700 transition duration-300 transform hover:scale-105 shadow-md font-semibold">Solicitar Presupuesto</a></li>
            </ul>
        </nav>
    </div>
</header>